* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #24303c;
}

.contenedor {
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.contenedor input[type='text'] {
    padding: 20px;
    border: none;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.contenedor .btn {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor .btn:hover {
    background: #3e14b2;
}

.contenedor .btnn {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor .btnn:hover {
    background: #3e14b2;
}

.contenedorQR {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid black;
}

.header1 {
    display: flex;
    justify-content: center;
}