* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.header2 {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.contenedor h1 {
    margin-bottom: 20px;
}

.contenedor .btndeco {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor .btndeco:hover {
    background: #3e14b2;
}

.contenedor .btnscann {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor .btnscann:hover {
    background: #3e14b2;
}