* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(135deg, #0087D4, #505488, #2F3F80, #5b3e74, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
}

.header2 {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 500px;
    background: #24303c;
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.contenedor h1 {
    margin-bottom: 20px;
}

.contenedor .iniciar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor .iniciar:hover {
    background: #0087D4;
    box-shadow: 0 0 15px #0087D4;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.textoreg {
    display: flex;
    justify-content: center;
    color: #0087D4;
}

.textoreg:hover {
    color: #0087D4;
    text-decoration: underline;
}